#line3 img {
  width: 30%;
  margin: 1.65%;
  float: left;
}
#line4 img {
  width: 22%;
  margin: 1.5%;
  float: left;
}
#line5 img {
  width: 14%;
  margin: 1.3%;
  float: ;
}
.clearfix {
  clear: both;
}
